<% include ./partials/header %>
<div class="container table-wrapper">
    <table style="margin: 0px auto">
        <caption> Return Results :
            <%= table.length %>
        </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Sales_Doc</th>
                <th>Material</th>
                <th>S520_ORDER_QTY</th>
                <th>S520_CONFIRM_QTY</th>
                <th>OR_Order_Qty</th>
                <th>OR_Confirm_Qty</th>
                <th>Order_Diff</th>
                <th>Confirm_Diff</th>

            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < table.length; i++){ %>
            <tr>

                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= table[i].SALES_DOC %>
                </td>
                <td>
                    <%= table[i].MATERIAL %>
                </td>
                <td>
                    <%= table[i].S520_ORQTY %>
                </td>
                <td>
                    <%= table[i].S520_CONQTY %>
                </td>
                <td>
                    <%= table[i].ORQTY %>
                </td>
                <td>
                    <%= table[i].CON_QTY %>
                </td>
                <td>
                    <%= table[i].OR_DIFF %>
                </td>
                <td>
                    <%= table[i].CON_DIFF %>
                </td>
            </tr>

            <% } %>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>